{% extends 'voyage_mate/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'voyage_mate/about.css' %}">
<style> 
  main {
    background-image: url("{% static 'voyage_mate/images/nature.jpg' %}");
  }
</style>
{% endblock %}

{% block content %}
<div class="about-section">
    <h2>About Voyager Mate</h2>
    <p>Welcome to Voyager Mate, your trusted companion for seamless travel planning. Our mission is to empower travelers with curated itineraries and personalized recommendations to make each journey truly memorable. Whether you're a seasoned globetrotter or planning your first adventure, Voyager Mate simplifies the planning process, offering destination insights, budget-friendly options, and tailored experiences based on your unique travel preferences.</p>
    
    <h3>Our Vision</h3>
    <p>At Voyager Mate, we believe that every journey should be as exciting as the destination. We are dedicated to providing tools and resources that make planning easy, efficient, and enjoyable.</p>
    
    <h3>Why Choose Us?</h3>
    <p>Voyager Mate is designed with user experience in mind. Our platform offers an intuitive, straightforward approach to building custom itineraries, with helpful tips and handpicked destinations to suit every budget and travel style.</p>
    
    <h3>Our Story</h3>
    <p>Voyager Mate was created out of a passion for travel and a vision to harness technology to simplify the planning process. As a new entrant in tech, our team, is driven by a commitment to delivering a platform that combines innovation with ease of use.</p>
    
    <p>We invite you to explore Voyager Mate and begin planning your next unforgettable journey.</p>
  </div>
  
  
{% endblock %}