{% extends 'voyage_mate/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'voyage_mate/register.css' %}">
{% endblock %}

{% block content %}
  <div class="sign-in-container">
    <form class="sign-in-form" action="{% url 'voyage_mate:login' %}" method="post">
      {% csrf_token %}

      <h2>Sign In</h2>

      <!-- Username Field -->
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Enter your username" required>

      <!-- Password Field -->
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Enter your password" required>

      <button type="submit">Login</button>

      <!-- Register Link -->
      <p>Don't have an account? <a href="{% url 'voyage_mate:register' %}">Sign up here</a></p>
    </form>
  </div>
  {% endblock %}