main {
  margin-top: 50rem;
}

.about-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-section h2 {
    color: #333;
    text-align: center;
  }
  
  .about-section h3 {
    color: #444;
    margin-top: 15px;
  }
  
  .about-section p {
    color: #555;
    line-height: 1.6;
  }
  